.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 8px 6%;
  background: rgb(17, 159, 17);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  width: 120px;
  cursor: pointer;
}

.navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.menu li {
  color: #e9e4e4;
  margin-left: 25px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.menu li::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: 0.3s;
}

.menu li:hover::before {
  width: 100%;
}

.icon {
  display: none;
}

/* Mobile */
@media (max-width: 768px) {
  .menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -200px;
    bottom: 0;
    width: 180px;
    border-radius: 20px 0 0 20px;
    opacity: 0.95;
    background: rgb(3, 50, 3);
    padding-top: 90px;
    transition: 0.4s ease;
    z-index: 100;
  }

  .menu.active {
    right: 0;
  }

  .menu li {
    display: block;
    padding: 15px 20px;
    margin-left: 0;
  }

  .icon {
    display: block;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;
    z-index: 101;
  }
}