.terms-container{
   max-width: 900px;
   margin: auto;
   padding: 80px 20px;
   line-height: 1.8;
}

.terms-container h1{
   margin-bottom: 30px;
   color: #222;
}

.terms-container h2{
   margin-top: 30px;
   color: #0aa60a;
}

.terms-container p{
   color: #555;
   margin-top: 10px;
}